<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>

</head>
<!--打开网页即调用init()函数，显示已存数据-->
<body ng-app="myApp" ng-controller="myCtrl">
    <div>
        <table>
            <tr>
                <th>名称</th>
                <th>费用</th>
                <th>攻击力</th>
                <th>生命值</th>
                <th>圣盾</th>
                <!--<th>冲锋</th>
                <th>嘲讽</th>
                <th>风怒</th>
                <th>超级风怒</th>
                <th>免疫</th>
                <th>虚无</th>
                <th>选定</th>
                <th>沉睡</th>
                <th>冻结</th>
                <th>冰冻</th>-->
                <th></th>
            </tr>
            <tr ng-repeat="item in cards">
                <td>{{item.name}}</td>
                <td>{{item.property.cost}}</td>
                <td>{{item.property.attack}}</td>
                <td>{{item.property.HP}}</td>
                <td>{{item.property.shield}}</td>
                <!--<td>有</td>
                <td>无</td>
                <td>无</td>
                <td>无</td>
                <td>无</td>
                <td>无</td>
                <td>无</td>
                <td>无</td>
                <td>无</td>
                <td>无</td>-->
                <!--事件触发-->
                <td>
                    <button type="button" ng-click="trigger.Deathrattle(item)">亡语触发</button>
                    <button type="button" ng-click="trigger.Battlecry(item)">战吼触发</button>
                    <button type="button" ng-click="trigger.DoubleFunction.Deathrattle(item)">双亡语触发</button>
                    <button type="button" ng-click="trigger.DoubleFunction.Battlecry(item)">双战吼触发</button>
                </td>
            </tr>
        </table>
    </div>
    <script>
        angular.module('myApp', []).controller('myCtrl', function ($scope) {
            $scope.cards = [
                {
                    "name": "成珏的单推王",
                    "property": {
                        "designer": "Gone",
                        "image": "",
                        "scarcity": "传说",
                        "introduceHTML": "",
                        "team": {
                            "id": "101",
                            "name": "Team SII"
                        },
                        "voice": {
                            "CV": "Gone",
                            "summon": "1.mp3", //我是~单推王
                            "attacking": "2.mp3",//时间不多了，我们投票吧！
                            "dying": "3.mp3" //这些票不是我投的
                        },
                        "position": "牌库",
                        "type": "随从",
                        "status": {
                            "alive": true,
                            "injured": false,
                        },
                        "cost": 5,
                        "attack": 6,
                        "HP": 2,
                        "asleep": false,
                        "frozen": false,
                        "潜行": false,
                        "shield": false,
                        "冲锋": false,
                        "嘲讽": false,
                        "吸血": false,
                        "风怒": false,
                        "冰冻": false,
                        "超级风怒": false,
                        "剧毒": false,
                        "特殊剧毒": false,
                        "沉默": false,
                        "免疫": false,
                        "选定": false, //精灵龙技能
                        "虚无": false, //无法被物理攻击
                        "禁言": false, //被攻击对象获得沉默
                        "激励": function () {

                        },
                        "激怒": function () {

                        },
                        "Battlecry": function () {
                            //为对手投两票

                            this.attack = this.attack * 2;
                        },
                        "Deathrattle": function () {
                            this.HP = this.HP * 2;
                        },
                        "光环": function () {
                            //自己影响别的
                        },
                        "战场触发": {
                            //在战场上被影响
                            "回合开始触发": function () {

                            },
                            "回合结束触发": function () {

                            },
                            "攻击时触发": function () {

                            }
                        },
                        "墓地触发": function () {
                            //在墓地里被影响
                        },
                        "手牌触发": {
                            //在上牌上被影响
                            "回合开始触发": function () {

                            },
                            "回合结束触发": function () {

                            }
                        },
                        "移除触发": function () {
                            //在游戏区外被影响
                        },
                        "牌库触发": function () {
                            //在牌库被影响
                        }
                    }
                }, {
                    "name": "成珏的饭头",
                    "property": {
                        "designer": "Gone",
                        "image": "",
                        "scarcity": "传说",
                        "introduceHTML": "",
                        "team": {
                            "id": "101",
                            "name": "Team SII"
                        },
                        "voice": {
                            "CV": "Gone",
                            "summon": "1.mp3", //噢，我感觉很难受！
                            "attacking": "2.mp3",//让我好好抱抱你！
                            "dying": "3.mp3" //啊，oh，不~~
                        },
                        "position": "牌库",
                        "type": "随从",
                        "status": {
                            "alive": true,
                            "injured": false,
                        },
                        "cost": 1,
                        "attack": 1,
                        "HP": 1,
                        "asleep": false,
                        "frozen": false,
                        "潜行": false,
                        "shield": false,
                        "冲锋": false,
                        "嘲讽": false,
                        "吸血": false,
                        "风怒": false,
                        "冰冻": false,
                        "超级风怒": false,
                        "剧毒": false,
                        "特殊剧毒": false,
                        "沉默": false,
                        "免疫": false,
                        "选定": false, //精灵龙技能
                        "虚无": false, //无法被物理攻击
                        "禁言": false, //被攻击对象获得沉默
                        "激励": function () {

                        },
                        "激怒": function () {

                        },
                        "Battlecry": [function (target) {
                            //单推王获得圣盾

                            $scope.cards[0].property.shield = true;
                        }, function () {
                            //单推王攻击力+2

                            $scope.cards[0].property.attack = $scope.cards[0].property.attack + 2;
                        }],
                        "Deathrattle": [function () {
                            this.HP = this.HP * 2;
                        }, function () {

                            $scope.cards[0].property.HP = $scope.cards[0].property.HP + 2;
                        }],
                        "光环": function () {
                            //自己影响别的
                        },
                        "战场触发": {
                            //在战场上被影响
                            "回合开始触发": function () {

                            },
                            "回合结束触发": function () {

                            },
                            "攻击时触发": function () {

                            }
                        },
                        "墓地触发": function () {
                            //在墓地里被影响
                        },
                        "手牌触发": {
                            //在上牌上被影响
                            "回合开始触发": function () {

                            },
                            "回合结束触发": function () {

                            }
                        },
                        "移除触发": function () {
                            //在游戏区外被影响
                        },
                        "牌库触发": function () {
                            //在牌库被影响
                        }
                    }
                }
            ];

            //柯里化
            //$scope.multiFunctions = function(func) {
            //    const result = (y) => multiFunctions(func());
            //    result.valueOf = () => func();
            //    return result;
            //}

            $scope.trigger = {
                DoubleFunction: {
                    Deathrattle: function (item) {
                        for (var i = 0; i < 2; i++) {
                            $scope.trigger.Deathrattle(item);
                        }
                    },
                    Battlecry: function (item) {
                        for (var i = 0; i < 2; i++) {
                            $scope.trigger.Battlecry(item);
                        }
                    }
                },
                Deathrattle: function (card) {
                    angular.forEach(card.property.Deathrattle, function (func, index) {
                        func();
                    });
                },
                Battlecry: function (card, target) {
                    angular.forEach(card.property.Battlecry, function (func, index) {
                        func(target);
                    });
                }
            }
        });
    </script>
</body>
</html>